.git
.pytest_cache
.ruff_cache
__pycache__
*.pyc

outputs/**
!outputs/**/
!outputs/**/.gitkeep

data/input_images/**
!data/input_images/**/
!data/input_images/**/.gitkeep
data/masks/**
!data/masks/**/
!data/masks/**/.gitkeep
data/examples/**
!data/examples/**/
!data/examples/**/.gitkeep

third_party

*.obj
*.odj
*.io
Studio 2.0/
studio/
Studio/
